.row.header-custom-table {
  border-bottom: solid .15rem #673ab7;
}

.row.recipient-option {
  min-height: 2.1rem;
  cursor: pointer;
}

.row.recipient-option:hover {
  background-color: ivory;
}

h1 {
  text-align: center;
}
