<form [formGroup]="form" (ngSubmit)="submit()" class="container mt-4" [autocomplete]="false">

  <section class="row center-xs">
    <mat-form-field class="col-xs-12 col-md-5 col-lg-4">
      <mat-label>Destinatario</mat-label>
      <input type="text" aria-label="Number" matInput formControlName="recipient">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of recipientList" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </section>

  <section class="row center-xs mt-3">
    <mat-form-field class="col-xs-12 col-md-5 col-lg-4">
      <mat-label>Monto</mat-label>
      <input matInput type="number" formControlName="amount">
      <button *ngIf="value('amount')" mat-button matSuffix mat-icon-button aria-label="Clear"
        (click)="setValue('amount', '')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </section>

  <section class="row center-xs mt-4">
    <button class="col-xs-9 col-md-3 col-lg-2" type="submit" mat-raised-button color="primary">Transferir</button>
  </section>

</form>
